body {
  background-color: #D8DBE2;
  font-family: 'Pirata One', cursive;
}

main {
  text-align: center;
}

#question {
  font-size: 30px;
}

button {
  font-size: 15px;
}

#yes, #no {
  display: none;
}